{% load staticfiles %}
{% load tags %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A layout example that shows off a responsive product landing page.">
    
    {% block title %}
    <title>Find flats nearest to your office | Flatpicker </title>
    {% endblock %}
    
<link href="/static/css/bootstrap.css" rel="stylesheet">
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<link href="/static/css/marketing.css" rel="stylesheet">
g" style="z-index:4">
</head>
<body>
<div class="splash-container" align="center" ng-app="lp" ng-controller="LandingpageController as lpcntrl">
{% block content %}   
        <div align="center" class="main" ng-show="lpcntrl.visibilityToggle">
        <h1 class="splash-text">
            <span class="glyphicon glyphicon-map-marker"></span> Flatpicker </h1>
        <p class="text">
            Find flats nearest to your company/office.
        </p>
        <form method="post" action="/flats/" ng-submit="lpcntrl.submitReq()">
          {% csrf_token %} 
			{% verbatim %}
                    <select  name="company" ng-model="lpcntrl.companySelected">
                      <option ng-repeat="company in lpcntrl.company" >{{company}}</option>
                    </select>
                    
                    <select  name="city" ng-model="lpcntrl.citySelected">
                      <option ng-repeat="city in lpcntrl.city" >{{city}}</option>
                    </select>
                    <select name="area" ng-model="lpcntrl.areaSelected">
                      <option ng-repeat="area in lpcntrl.area" >{{area}}</option>
                    </select>
                <input type="submit" value="Submit"  style="text-align:center"/>
			{% endverbatim %}
          </form>
       </div>
       
        <div align="center" class="flat-information" ng-show="lpcntrl.visibilityToggle">
        <div class="flat-information-top-bar"><span class="glyphicon glyphicon-map-marker"></span>Flatpicker
        </div>
        <h1 class="splash-text">
            <span class="glyphicon glyphicon-map-marker"></span> Flatpicker </h1>
            
        <p class="text">
            Find flats nearest to your company/office.
        </p>
       </div>
        <div class="flat-information-flat-details"><span class="glyphicon glyphicon-map-marker"></span>Flatpicker
        </div>

    {% endblock %}
</div>

<script src="/static/js/jquery-1.11.2.min.js"></script>
<script src="/static/js/angular.min.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/lp/lp.js"></script>






</body>
</html>
